# WorkShop 2

Let's play with pandas and answer "stakeholders" _questions_.

Problems $2-13$ rely on your `Problem 1` answer.

## Problem  1

Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of __energy_df__.

Keep in mind that this is an _Excel file_, and not a _comma separated values file_. Also, make sure to _exclude_ the footer and header information from the datafile. The first _two columns_ are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

```python
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]
```

Convert `Energy Supply` to _gigajoules_ (there are $1000000$ _gigajoules_ in a _petajoule_**). For all countries which have missing data (_e.g._ data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (_for use in later questions_):

```bash
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
```

There are also several countries with parenthesis in their name. Be sure to _remove these_, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with _Numeric digits_ in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a _csv_ containing countries' GDP from $1960$ to $2015$ from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame __gdp_df__. 

Make sure to _skip the header_, and _rename_ the following list of countries:

```bash
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"
```

Finally, load the [Scimago Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their _journal contributions_ in the aforementioned area. Call this DataFrame __scimago_df__.

Join the _thrgoee datasets_: _energy\_df_, _gdp\_df_ and _scimago\_df_, into a new dataset (using the _intersection_ of _country names_). Use only the _last_ $10$ years ($2006-2015$) of __GDP data__ and only the _top 15 countries_ by __Scimagojr 'Rank'__ (_Rank 1 through 15_). 

The _index_ of this DataFrame should be the __name__ of the country, and the _columns_ should be:
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']`.

_This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank"._

In [189]:
#!pip install xlrd
#!pip install openpyxl
import pandas as pd
import numpy as np



def generate_energy_df():
    energy_df = pd.read_excel('assets/Energy Indicators.xls',index_col=None, header=None)
    energy_df = energy_df.drop(index=list(range(18)))
    energy_df = energy_df.drop(index=list(range(245, 283)))
    energy_df = energy_df.drop(columns=[0, 1], axis=1)
    energy_df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy_df['Energy Supply'] = energy_df['Energy Supply'].apply(lambda x: np.nan if x == '...' else x*1000000)
    change_country_names = {'Republic of Korea': 'South Korea', 'United States of America': 'United States', 'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom','China, Hong Kong Special Administrative Region': 'Hong Kong'}
    energy_df['Country'] = energy_df['Country'].replace(r'([A-Z][a-z]*)\d+$', r'\1', regex=True)
    energy_df['Country'] = energy_df['Country'].replace(r'\s*\(.*?\)', '', regex=True)
    energy_df['Country'] = energy_df['Country'].replace(change_country_names)
    energy_df = energy_df.set_index('Country')
    return energy_df

def get_GDP_df():
    def is_number(s: str) -> bool:
        """
        Check if a string is a number.

        Args:
            s (str): The string to check.

        Returns:
            A boolean indicating if the string is a number.
        """
        try:
            int(s)  
            return True
        except ValueError:
            return False

    gdp_df = pd.read_csv('assets/world_bank.csv', header=None)
    gdp_df = gdp_df.drop(index=list(range(5)))
    years = list(range(1960,2016))
    gdp_df.columns = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code'] + years
    Change_Country_Names = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}
    gdp_df['Country'] = gdp_df['Country'].replace(Change_Country_Names)
    gdp_df = gdp_df.set_index('Country')
    filtered_gdp_df = gdp_df.drop(columns= ['Country Code', 'Indicator Name', 'Indicator Code']).drop(columns= list(range(1960,2006)), axis=1)
    return filtered_gdp_df

def get_scimago_df():
    scimago_df = pd.read_excel('assets/scimagojr-3.xlsx')
    scimago_df = scimago_df.set_index('Country')
    filtered_scimago_df = scimago_df[:15]

    return filtered_scimago_df

def answer_one():
    energy_df = generate_energy_df()
    gdp_df = get_GDP_df()
    scimago_df = get_scimago_df()
    
    join_df = scimago_df.join(energy_df, how='inner')
    join_df = join_df.join(gdp_df, how='inner')
    
    return join_df
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [190]:
# example of test cases
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"
assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [191]:
# space for proffesor tests

## Problem 2

The _Problem 1_ joined three datasets then reduced this to just the top $15$ entries. When you joined the datasets, but before you reduced this to the top $15$ items, how many entries did you lose?

_This function should return a single number._

In [192]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [193]:
def answer_two():
    
    energy_df = generate_energy_df()
    gdp_df = get_GDP_df()
    scimago_df = get_scimago_df()

    merge_df = pd.merge(scimago_df,energy_df, on='Country', how='outer')
    merge_df = pd.merge(merge_df, gdp_df, on='Country', how='outer')
    lose_data = int(merge_df.isnull().any(axis=1).sum())
    return lose_data

answer_two()

291

In [194]:
# example of test cases
assert type(answer_two()) == int, "Q2: You should return an int number!"

In [195]:
# space for proffesor tests

## Problem 3

What are the top $15$ countries for average GDP over the last $10$ years?

_This function should return a Series named `avg_gdp` with $15$ countries and their average GDP sorted in descending order._

In [196]:
def answer_three():
    avg_gdp = answer_one()
    avg_gdp['Average_gdp']= avg_gdp[list(range(2006,2016))].mean(axis=1)
    avg_gdp = avg_gdp['Average_gdp'].sort_values(ascending=False)
    return avg_gdp
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: Average_gdp, dtype: float64

In [197]:
# example of test cases
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

In [198]:
# space for proffesor tests

# Problem 4

By how much had the GDP changed over the $10$ year span for the country with the $6-th$ largest average GDP?

_This function should return a single number._

In [199]:
def answer_four():
    
    gdp_df = answer_one()
    avg_gdp_sorted = answer_three()
    sixth_country_gdp = avg_gdp_sorted.index[5]
    gdp_2006 = gdp_df.loc[sixth_country_gdp, 2006]
    gdp_2015 = gdp_df.loc[sixth_country_gdp, 2015]
    gdp_change = float(gdp_2015 - gdp_2006)
    return gdp_change
answer_four()

246702696075.3999

In [200]:
# example of test cases
assert type(answer_four()) == float, "Q4: You should return a single number!"

In [201]:
# space for proffesor tests

## Problem 5

What is the _mean energy supply per capita_?

_This function should return a single number._

In [202]:
def answer_five():
    
    country_rank_df= answer_one()
    energy_spc = country_rank_df['Energy Supply per Capita']
    mean_energy_spc = energy_spc.mean()
    return float(mean_energy_spc)

answer_five()

157.6

In [203]:

# example of test cases
assert type(answer_five()) == float, "Q5: You should return a single number!"

In [204]:
# space for proffesor tests

## Problem 6

What __country__ has the _maximum % Renewable_ and what is the _percentage_?

_This function should return a tuple with the name of the country and the percentage._

In [205]:
def answer_six():
    
    country_rank_df = answer_one()
    energy_rene_percentage_name = country_rank_df['% Renewable'].idxmax()
    energy_rene_percentage  = country_rank_df['% Renewable'].max()
    return (energy_rene_percentage_name, float(energy_rene_percentage))

answer_six()

('Brazil', 69.64803)

In [206]:
# example of test cases
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"
assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

In [207]:
# space for proffesor tests

## Problem 7

Create a new column that is the _ratio of Self-Citations to Total Citations_. 
What is the _maximum_ value for this new column, and what _country_ has the _highest ratio_?

_This function should return a tuple with the name of the country and the ratio._

In [208]:
def answer_seven():
    
    country_rank_df = answer_one()
    country_rank_df['Citations ratio'] = country_rank_df.apply(lambda row: row['Self-citations']/row['Citations'], axis=1)
    highest_country_ratio = country_rank_df['Citations ratio'].idxmax()
    highest_country_ratio_value = country_rank_df['Citations ratio'].max()
    return (highest_country_ratio, float(highest_country_ratio_value))
    
answer_seven()

('China', 0.6893126179389422)

In [209]:
# example of test cases
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"
assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

In [210]:
# space for proffesor tests

## Problem 8

Create a column that estimates the _population using Energy Supply_ and _Energy Supply per capita_. 
What is the _third_ most populous country according to this estimate?

_This function should return the name of the country._

In [211]:
def answer_eight():
    
    country_rank_df = answer_one()
    country_rank_df['Estimated Population'] = country_rank_df.apply(lambda row: row['Energy Supply']/row['Energy Supply per Capita'], axis=1)
    third_popular_country = country_rank_df['Estimated Population'].sort_values(ascending=False)
    return third_popular_country.index[2]
    
answer_eight()

'United States'

In [212]:
# example of test cases
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

In [213]:
# space for proffesor tests

## Problem 9

Create a column that estimates the _number of citable documents per person_. 

What is the correlation between the _number of citable documents per capita_ and the _energy supply per capita_? Use the `.corr()` method, (Pearson's correlation).

_This function should return a single number._

In [214]:
def answer_nine():
    
    country_rank_df = answer_one()
    country_rank_df['Estimated Population'] = country_rank_df.apply(lambda row: row['Energy Supply']/row['Energy Supply per Capita'], axis=1)
    country_rank_df['Estimated Number of Citations per Capita']= country_rank_df.apply(lambda row: row ['Citable documents'] / row ['Estimated Population'], axis = 1)
    correlation = country_rank_df['Estimated Number of Citations per Capita'].corr(country_rank_df['Energy Supply per Capita'], method = 'pearson')
    return float(correlation)

answer_nine()

0.7940010435442946

In [215]:
# example of test cases
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

In [216]:
# space for proffesor tests

## Problem 10

Create a new column with a $1$ if the _country's % Renewable_ value is at or above the median for all countries in the _top 15_, and a $0$ if the _country's % Renewable_ value is below the median.

_This function should return a series named `high_renew` whose index is the country name sorted in ascending order of rank._

In [217]:
def answer_ten():
    
    high_renew = answer_one()
    median_per_Renewable = high_renew['% Renewable'].median()
    high_renew['HighRenew'] = high_renew['% Renewable'].apply(lambda x: 1 if x >= median_per_Renewable else 0)
    return high_renew['HighRenew'].sort_index()

answer_ten()

Country
Australia             0
Brazil                1
Canada                1
China                 1
France                1
Germany               1
India                 0
Iran                  0
Italy                 1
Japan                 0
Russian Federation    1
South Korea           0
Spain                 1
United Kingdom        0
United States         0
Name: HighRenew, dtype: int64

In [218]:
# example of test cases
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

In [219]:
# space for proffesor tests

## Problem 11

Use the following dictionary to group the _Countries by Continent_, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the _sum_, _mean_, and _std deviation_ for the estimated population of each country.

```python
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
}
```

_This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`_

In [220]:
def answer_eleven():

    ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
    }

    country_rank_df = answer_one()
    
    country_rank_df['Estimated Population'] = country_rank_df.apply(lambda row: row['Energy Supply']/row['Energy Supply per Capita'], axis=1)
    country_rank_df = country_rank_df.reset_index()
    country_rank_df['Continent']= country_rank_df['Country'].map(ContinentDict)
    continent_df = country_rank_df.groupby('Continent')['Estimated Population'].agg(['size', 'sum', 'mean', 'std'])
    return continent_df

answer_eleven()

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [221]:
# example of test cases
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"
assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"
assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

In [222]:
# space for proffesor tests

## Problem 12

Cut (check `.cut()` from Pandas) _% Renewable_ into $5$ bins, but in the same column. Group _Top15_ by the _Continent_, as well as these new _% Renewable_ bins. How many countries are in each of these groups? You could check `.size()` as aggregation in group by.

_This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable` (in string datatype). Do not include groups with no countries._

In [223]:
def answer_twelve():
    
    ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
    }

    country_rank_df = answer_one()
    country_rank_df['% Renewable bins'] = pd.cut(country_rank_df['% Renewable'], 5)
    country_rank_df = country_rank_df.reset_index()
    country_rank_df['Continent']= country_rank_df['Country'].map(ContinentDict)
    continent_per_renewable = country_rank_df.groupby(['Continent', '% Renewable bins']).size()

    return continent_per_renewable
    
answer_twelve()

C:\Users\DAVID\AppData\Local\Temp\ipykernel_17448\2391238442.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  continent_per_renewable = country_rank_df.groupby(['Continent', '% Renewable bins']).size()

Continent      % Renewable bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

In [224]:
# example of test cases
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"
assert len(answer_twelve()) == 25, "Q12: Wrong result numbers!"

C:\Users\DAVID\AppData\Local\Temp\ipykernel_17448\2391238442.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  continent_per_renewable = country_rank_df.groupby(['Continent', '% Renewable bins']).size()
C:\Users\DAVID\AppData\Local\Temp\ipykernel_17448\2391238442.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  continent_per_renewable = country_rank_df.groupby(['Continent', '% Renewable bins']).size()

In [225]:
# space for proffesor tests

## Problem 13

Convert the _Population Estimate_ series to a string with thousands separator (using _dots_). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12.345.678,90

_This function should return a series `pop_est` whose index is the country name and whose values are the population estimate string_

In [226]:
def answer_thirteen():
    
    country_rank_df = answer_one()
    country_rank_df['Estimated Population'] = country_rank_df.apply(lambda row : row['Energy Supply']/row['Energy Supply per Capita'], axis=1)
    country_rank_df['Estimated Population'] = country_rank_df['Estimated Population'].apply(lambda x: '{:,.0f}'.format(x).replace(',','.'))
    pop_est = country_rank_df['Estimated Population']
    return pop_est
answer_thirteen()

Country
China                 1.367.645.161
United States           317.615.385
Japan                   127.409.396
United Kingdom           63.870.968
Russian Federation      143.500.000
Canada                   35.239.865
Germany                  80.369.697
India                 1.276.730.769
France                   63.837.349
South Korea              49.805.430
Italy                    59.908.257
Spain                    46.443.396
Iran                     77.075.630
Australia                23.316.017
Brazil                  205.915.254
Name: Estimated Population, dtype: object

In [227]:
# example of test cases
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"
assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

In [228]:
# space for proffesor tests